.widget-list2 {
  background-color: #3399ff;
  vertical-align: top;

  .title {
    font-size: 20px;
    color: #ccffff;
  }

  .label {
    margin-left: 10px;
    width: 150px;
    padding-top: 8px;
    font-size: 12px;
    float: left;
    text-align: left;
    color: #ccffff;
    font-weight: 600;
  }

  .power {
    text-align: left;
    width: 60px;
    font-size: 12px;
    padding-top: 8px;
    float: left;
    font-weight: 600;
    color: #ccffff;
  }

  .ping {
    text-align: left;
    width: 60px;
    font-size: 12px;
    padding-top: 8px;
    float: left;
    font-weight: 600;
    color: #ccffff;
  }


  .progress {
    text-align: right;
    width: 265px;
    font-size: 12px;
    padding-top: 8px;
    padding-right: 5px;
    float: right;
    font-weight: 600;
    color: #ccffff;
  }

  .status {
    text-align: left;
    padding-top: 8px;
    font-size: 12px;
    float: left;
    font-weight: 600;
    color: #ccffff;
  }

  .updated-at {
    font-size: 9px;
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.7);
  }
}
